.pagination{
  list-style-type: none;
  margin: 3em 0 1em 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.page{
  line-height: 1;
  border: 1px solid blue;
  margin-right: 0.5em;
}

.highlight{
  background: blue;
  color: white;
}

.link{
  padding: 8px 12px;
  color: inherit;
  display: inline-block;
}

.link:hover{
  background: #e7ebf1;
}