.links{
  list-style-type: none;
  display: block;
  margin-left: 0;
}

.linkItem{
  display: block;
  padding-bottom: 1.5em;
  margin-bottom: 0;
}

.postLink{
  font-weight: 400;
  margin: 0;
  display: inline;
  font-family: 'Inconsolata', monospace;
}

.postLink a{
  text-decoration: none;
  display: inline-block;
  font-size: 19px;
  font-weight: bold;
  padding: 2px 0;
  color: #00f;
}

.domain{
  font-style: italic;
  font-size: 14px;
}

.description{
  padding: 3px 0;
  color: #333;
  display: none;
}

.tags{
  font-size: 16px;
  text-decoration: underline;
  color: black;
}

.tag{
  padding-right: 1em;
}