.nav{
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 1.25em;
  flex-wrap: wrap;
  margin-bottom: 1em;
}

.navItem{
  display: inline-block;
}

.navSep{
  margin: 0 1em;
}

.intro{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}

.description{
  margin: 0;
  font-size: 18px;
  padding-right: 2em;
  flex: 1 1 60%;
  margin-top: 3em;
}

.newsletter{
  max-width: 700px;
  margin: 3em auto;
  margin-top: 3em;
}

.title{
  text-align: center;
  text-decoration: underline;
}

.subTitle{
  padding-bottom: 1rem;
  border-bottom: 2px solid #333;
  font-size: 2em;
  margin-top: 3rem;
  margin-bottom: 1.25em;
}

.seeMore{
  margin-top: 1em;
  font-size: 1.2em;
}