.signupBox{
  border: 2px solid black;
  padding: 1em;
  max-width: 320px;
  align-self: flex-start;
  margin-top: 2em;
  margin-right: 20px;
  background: #ffffe0;
}

.title{
  margin: 0;
  padding: 0.25em;
  text-align: center;
  border: 2px solid black;
  box-shadow: 4px -4px #000;
  font-family: Inconsolata, monospace;
}

.message{
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  font-size: 1em;
  color: #1a1a1a;
  font-family: Inconsolata, monospace;
  line-height: 1.4;
  text-align: center;
}

.form{
  margin-bottom: 1em;
  text-align: center;
}

.email{
  border: 2px solid #000;
  padding-left: 5px;
  margin: 10px auto;
  height: 35px;
  width: 80%;
  max-width: 400px;
  font-family: Inconsolata, monospace;
}

.submit{
  border: none;
  background-color: #000;
  font-weight: bold;
  color: #fff;
  margin: 10px 0;
  height: 35px;
  width: 60%;
  max-width: 400px;
  font-family: Inconsolata, monospace;
}

.privacy{
  color: #4c4c4c;
  line-height: 1.5;
  font-size: 0.75em;
  font-style: italic;
  margin-bottom: 5px;
  text-align: center;
  font-size: 0.85em;
  font-family: Inconsolata, monospace;
}

@media only screen and (max-width: 1000px){
  .signupBox{
    align-self: center;
    margin-right: 0;
    max-width: 80%;
  }
}

@media only screen and (max-width: 750px){
  .signupBox{
    max-width: 90%;
  }
}