.nav{
  max-width: 1280px;
  padding: 0 20px;
  margin: 0.9rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.homeLink{
  font-size: 0;
}

.siteLogo{
  margin-bottom: 0;
  height: 50px;
}

.navMenu{
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
}

.navItem{
  margin-right: 20px;
  margin-bottom: 0;
  line-height: 1;
  font-size: 1.125em;
  font-weight: 400;
  font-family: 'Inconsolata', monospace;
}
.navItem:last-child{
  margin-right: 0px;
}

.navItem a{
  color: black;
  font-size: 19px;
  transition: all ease-in-out .3s;
  padding-bottom: 4px;
  padding-right: 2px;
  padding-left: 2px;
  border-bottom: 3px solid transparent;
}

.navItem a:hover{
  border-color: #000;
}
.navItem a[aria-current="page"]{
  border-color: #000;
}

@media only screen and (max-width: 840px){
  .nav{
    flex-direction: column;
  }
  .homeLink{
    margin-bottom: 20px;
  }
  .navMenu{
    flex-wrap: wrap;
    justify-content: center;
  }
  .navItem{
    margin-bottom: 10px;
    margin-right: 25px;
  }
}