.header{
    max-width: 1200px;
    margin: 0 auto;
    border-bottom: 2px solid black;
}

.header h2{
    display: inline-block;
}

.header h2 a{
    text-decoration: none;
    color: blue;
}

.nav{
    padding: 10px;
    max-width: 700px;
    margin: auto;
    background: aliceblue;
    float: right;
    margin-top: 1.2em;
  }

.nav a{
    margin-right: 20px;
    font-size: 18px;
    color: black;
}

.nav a:last-child{
    margin-right: 0px;
}