.bodyWrapper{
  max-width: 1200px;
  margin: 2em auto;
  display: flex;
  padding: 0 2%;
  justify-content: space-around;
}

.contentWrapper{
  max-width: 840px;
  padding: 0 20px;
  flex: 1 1 auto;
}

@media only screen and (max-width: 1000px){
  .bodyWrapper{
    flex-direction: column-reverse;
    align-items: center;
  }
}

@media only screen and (max-width: 800px){
  .bodyWrapper{
    flex-direction: column-reverse;
    align-items: unset; 
    /* somehow the content stops compressing after 450px-ish 
    if align-items is set! weird! */
  }
}

@media only screen and (max-width: 600px){
  .contentWrapper{
    padding: 0 10px;
  }
}

.footer{
  padding: 10px 10px;
  background-color: #000;
  color: #fff;
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 0;
  line-height: 1.15;
  font-family: 'Inconsolata', monospace;
}

.footerMsg{
  padding: 10px 0;
  margin-bottom: 0;
  font-family: 'Inconsolata', monospace;
}

.copyright{
  padding-left: 10px;
  padding-bottom: 10px;
  font-size: 14px;
  font-style: italic;
  color: #ccc;
  text-align: left;
  margin-bottom: 0;
  font-family: 'Inconsolata', monospace;
}

.ghostFooter{
  height: 100px;
}