.postGrid{
  margin-bottom: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

@media only screen and (max-width: 725px){
  /* If it's a small screen, don't show more than 3 */
  .postGridItem:nth-child(n+4){
    display: none;
  }
}